name: Testing
on:
  push:
    branches: main
  workflow_dispatch:
jobs:
  Job:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sample: [alter-state, array, callback, module, override, pass-variable, return-value, simple-call, stack-dump]
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: latest

      - name: Compiling 
        run: |
          haxelib git hxlua https://github.com/MAJigsaw77/hxlua.git ${{github.ref_name}} --quiet
          cd examples/${{matrix.sample}}
          haxe build.hxml
